@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Mohave&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap");

:root{
    --primary-color: #333333;
    --secondary-color:#4f4f4f
}
body{
    margin:0;
    padding:0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position:relative;
    gap:7vh;
}

.heading{
    display: flex;
    flex-direction: row;
}

.heading p{
    font-family: Inconsolata;
    font-weight: bold;
    font-style: normal;
    font-size:1.5rem;
    color: var(--primary-color);
    line-height: 1.5px; /*2.25*/
    margin-left:10vw;
    margin-top:5vh;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.error{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}

.error-message{
    display: flex;
    flex-direction: column;
    gap:5vh;
    width:45em;
}

img{
    width: 30vw;
}

.error-heading{
    font-family: Space Mono;
    font-weight: bold;
    font-style: normal;
    font-size: 4rem;
    line-height: 12vh;
    letter-spacing: 0.035em;
    color:var(--primary-color);
}

.error-paragraph{
    font-family: Space Mono;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 5vh;
    letter-spacing: 0.035em;
    color:var(--secondary-color);
    width:18em;
}



.btn{
    font-family: Space Mono;
    font-weight: bold;
    font-style: normal;
    font-size: 0.8rem;
    background-color: #333333;
    color:#ffffff;
    line-height:2.8vh ;
    letter-spacing: -0.035em;
    padding: 1rem 2rem;
    width:15em;
}

.footer{
    font-family:Montserrat ;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 2.4vh;
    text-align: center;
    color:#BDBDBD;
    margin-top:10rem;
}

.footer a{
    color:#BDBDBD;
}

@media (max-width:480px) {
    body{
        gap:5vh;
    }

    .error{
        margin-left:0;
        gap:6vh;
    }

    img{
        width:42vh;
    }

    .error-message{
        width: 95vw;
        gap:2vh
    }

    .error-heading{
        width:100%;
        font-size:3rem;
        line-height:9vh
    }

    .error-paragraph{
        width: 100%;
        font-size:1rem;
        line-height:26px;
    }

    .btn{
        font-size:0.8rem;
        line-height: 2.8vh;
    }

    .footer{
        margin-top:1rem;
    }



}